@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.card {
    width: 250px;
    height: auto;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    display: flex;
  flex-direction: column;

}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;}
.textHolder {
    padding: 5px 10px;
    font-family: "Quicksand", sans-serif;    font-size: 14px;

}
.img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}
