@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.container {
  padding: 0 10px;
  position: absolute;
  top: 170px;
  left: 25vw;
  width: 74vw;
  z-index: -1;
  
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  height: 100%;
  
  
}
.topPicks {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(20, 112, 139);
}
.packages {    
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.package{
  margin: 5px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}


@media (max-width: 600px) {
  .container {
    left: 30vw;
    width: 68vw;
    padding: 5px;
    top: 210px;
   
  }
  .main {
    display: flex;
    flex-direction: column;

  }

  
}
