@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");

.nav {
  height: 140px;
  width: 100vw;
  padding: 5px 10vw 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("https://bigpawcompact.vercel.app/elephants_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: white;
  z-index: 10;
  position: fixed;
  top: 40px;
}
.navp {
  display: flex;
  justify-content: flex-start;
  flex: 6;
  flex-direction: column;
  justify-content: space-around ;
  color: chocolate;
  font-weight: bold;
  

}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
.logo {
  display: flex;
  height: 100px;
  width: 400px;
}
.span{
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .navp {
    display: none;
  }
}